<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-resultat-heading">Create or edit a Resultat</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <input type="number" class="form-control" name="note" id="field_note"
                           formControlName="note"/>
                    <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('note')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('note')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mention">Mention</label>
                    <select class="form-control" name="mention" formControlName="mention" id="field_mention">
                        <option value="ACCEPTE">ACCEPTE</option>
                        <option value="ENTRETIEN">ENTRETIEN</option>
                        <option value="REJETE">REJETE</option>
                    </select>
                    <div *ngIf="editForm.get('mention')!.invalid && (editForm.get('mention')!.dirty || editForm.get('mention')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mention')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_examin">Examin</label>
                    <select class="form-control" id="field_examin" name="examin" formControlName="examin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="examinOption.id === editForm.get('examin')!.value?.id ? editForm.get('examin')!.value : examinOption" *ngFor="let examinOption of examins; trackBy: trackById">{{ examinOption.domaineDeCompetence }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_candidat">Candidat</label>
                    <select class="form-control" id="field_candidat" name="candidat" formControlName="candidat">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidatOption.id === editForm.get('candidat')!.value?.id ? editForm.get('candidat')!.value : candidatOption" *ngFor="let candidatOption of candidats; trackBy: trackById">{{ candidatOption.fullName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
