<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-poste-heading">Create or edit a Poste</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nomDuPoste">Nom Du Poste</label>
                    <input type="text" class="form-control" name="nomDuPoste" id="field_nomDuPoste"
                           formControlName="nomDuPoste"/>
                    <div *ngIf="editForm.get('nomDuPoste')!.invalid && (editForm.get('nomDuPoste')!.dirty || editForm.get('nomDuPoste')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nomDuPoste')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_examins">Examin</label>
                    <select class="form-control" id="field_examins" multiple name="examins" formControlName="examins">
                        <option [ngValue]="getSelected(editForm.get('examins')!.value, examinOption)" *ngFor="let examinOption of examins; trackBy: trackById">{{ examinOption.domaineDeCompetence }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
