<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question">
            <h2><span>Question</span> {{ question.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Enonce</span></dt>
                <dd>
                    <span>{{ question.enonce }}</span>
                </dd>
                <dt><span>Timing</span></dt>
                <dd>
                    <span>{{ question.timing }}</span>
                </dd>
                <dt><span>Niveaudedifficulte</span></dt>
                <dd>
                    <span>{{ question.niveaudedifficulte }}</span>
                </dd>
                <dt><span>Examin</span></dt>
                <dd>
                    <div *ngIf="question.examin">
                        <a [routerLink]="['/examin', question.examin?.id, 'view']">{{ question.examin?.domaineDeCompetence }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question', question.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
